.spiral1 {
    width: 8%;
    position: absolute;
    left: 68.5%;
    top: 19%;
    animation: rotation 6s infinite linear;
}

.spiral2 {
    width: 8%;
    position: absolute;
    right: 18.5%;
    top: 19%;
    animation: rotation2 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@keyframes rotation2 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }