.spiral1 {
    width: 2%;
    position: absolute;
    left: 59%;
    top: 47.6%;
    animation: rotation 2s infinite linear;
}

.spiral2 {
    width: 2%;
    position: absolute;
    right: 34%;
    top: 47.6%;
    animation: rotation2 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@keyframes rotation2 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }