@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@100;300;400&display=swap');

/* font-family: 'Fascinate', cursive;

font-family: 'Roboto', sans-serif;

font-family: 'Source Sans Pro', sans-serif; */

/* Reset */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

:global .container {
    width    : 100%;
    max-width: 1000px;
    margin   : 0 auto;
}

.App {
    text-align: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}